.statusCtr {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  border-radius: 0.125rem;
  font-weight: bold;
  color: rgb(var(--hottheme-color-white));
  text-transform: capitalize;
  font-size: .9rem;
}

.statusOverlapping,
.statusDefault {
  background-color: rgb(var(--hottheme-color-error));
}

.statusOverlapping,
.statusDefault {
  display: none;
}

.statusBadgeom,
.statusBadValue {
  background-color: rgb(var(--hottheme-color-warning));
  color: rgb(var(--hottheme-color-warning-fg));
}