.maplibregl-map {
  height: 100vh;
}

body {
  overflow: hidden;
}

.top {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 999;
}

.demo-options {
  border-top: 2px solid var(--hot-gray-100);
  border-bottom: 2px solid var(--hot-gray-100);
  padding-top: .5rem;
  margin-top: .5rem;
  padding-bottom: .5rem;
  margin-bottom: 1rem;
}

