
  body {
    overflow: hidden;
  }


  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .section1, .section2 {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
  }
  
  .section1 {
    flex: 1;
    height: 100vh;
    overflow-y: hidden;
  }
  
  .section2 {
    flex: 2;
    height: 100vh;
  }
  
  .top {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 999;
  }

  .top input[type="text"] {
    border: 1px solid #ddd;
    padding: 0.4rem;
  }

  .top button, .mapSourceSelect {
    border: 1px solid rgb(var(--hottheme-color-primary));
    padding: 0.4rem;
    border-radius: 2px;
    font-weight: bold;
    background: rgb(var(--hottheme-color-primary));
    color: white;
    cursor: pointer;
  }

  .mapSourceSelect {
    background-color: white;
    color: #333;
    margin-top: 10px;
    font-weight: normal;
    border: 1px solid white;
  }

  h2 {
    padding-left: .6rem;
    border-bottom: 1px solid var(--hottheme-color-divider);
    padding-bottom: 1.3rem;
  }
