/* This following code to style the popup was copy-pasted 
from https://github.com/mapbox/mapbox-gl-js/issues/8368#issuecomment-537597959*/
/* Add a border and shadow to the rounded rectangle */
.underpassMaplibregl-popup-content {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: 1px solid rgba(var(--hottheme-color-primary), 0.3);
  color: var(--hottheme-color-text-primary);
}

/* Move the content above the :before element so rotated rectangle doesn't cover content */
.underpassMaplibregl-popup-content div {
  position: relative;
  z-index: 5;
}

/* This is the new tip */
.underpassMaplibregl-popup-content:before {
  content: "";
  position: absolute;
  /* They've found 9px looks better than 10px */
  top: -webkit-calc(100% - 9px);
  top: calc(100% - 9px);
  left: calc(50% - 10px);
  height: 20px;
  width: 20px;
  background: white;
  transform: rotate(45deg);
  border-bottom: inherit;
  border-right: inherit;
  /* The shadow is translated down a bit so it doesn't show inside the pop-up */
  box-shadow: 4px 4px 4px -1px rgba(var(--hottheme-color-primary), 0.1);
  z-index: 4;
}

/* Since the new tip is absolutely-positioned, it doesn't force the rectangle up on its own */
.underpassMaplibregl-popup {
  margin-top: -10px;
}

/* Hide the old tip */
.underpassMaplibregl-popup-tip {
  display: none;
}

.timestamp {
  font-size: .8rem;
  opacity: .8;
}

.underpassMapWrap {
  position: relative;
  width: 100%;
  height: calc(100vh - 16px);

  justify-content: center;
  align-items: center;
  position: relative;
}

.underpassMap {
  width: 100%;
  min-height: 100%;
}

.underpassMap .maplibregl-popup-content {
  padding: .4rem 1rem;
}

.popup {
  padding: 0;
  font-size: 1rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.popup tr:not(:last-child) {
  border-bottom: 1px solid var(--hottheme-color-divider);
}

.popup td {
  padding: 0.5rem 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.popup a {
  color: inherit;
  text-decoration: none;
  font-weight: 600;
}

.popup a:hover {
  text-decoration: underline;
}

.popup .status {
  color: rgb(var(--hottheme-color-primary));
  text-transform: capitalize;
}

.loading {
  background: rgb(var(--hottheme-color-white));
  color: var(--hottheme-color-text-secondary);
  padding: 3px;
  border-radius: 4px;
  position: absolute;
  bottom: 9px;
  left: 9px;
  font-size: .8rem;
}
.zoomMessage {
  background: rgb(var(--hottheme-color-white));
  color: var(--hottheme-color-text-secondary);
  padding: 7px;
  border-radius: 4px;
  font-size: 1.8rem;
  opacity: .7;
  position: absolute;
  left: 50%;
  top: 50%;
  text-transform: uppercase;
  transform: translate(-50%,-50%);

}