.featureCard {
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: .9rem;
  border-bottom: 1px solid var(--hottheme-color-divider);
}

.featureCard a {
  color: #222;
  text-decoration: none;
}

.timeInfo {
  display: flex;
  justify-content: space-between;
}

.tags {
  display: flex;
  flex-direction: row;
}

.key, .value {
  flex: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  padding: 0.3rem 0;
}

.key {
  font-weight: bold;
}
