
.bar {
    border-radius: 8px;
    background: var(--hottheme-color-light-bg);
}

.barValue {
    height: 12px;
    border-radius: 8px;
    background: rgb(var(--hottheme-color-primary));
}

.title {
    margin-bottom: 10px;
}

.statusLabel {
    text-transform: lowercase;
}

.statusLabel {
    font-weight: normal;
    font-size: 1rem;
}