:root {
    --hottheme-color-primary: 215,63,63;
    --hottheme-color-primary-fg: 255,255,255;
    --hottheme-color-secondary: 71,159,248;
    --hottheme-color-text-primary: #2c3038;
    --hottheme-color-text-secondary: #929db3;
    --hottheme-color-light-bg: rgb(243,242,242);
    --hottheme-color-divider: #cbcaca;
    --hottheme-color-warning: 215,63,63;
    --hottheme-color-warning-fg: 255,255,255;
    --hottheme-color-valid: 75,129,235;
    --hottheme-color-valid-fg: 255,255,255;
    --hottheme-color-error: 0,0,0;
    --hottheme-color-error-fg: 255,255,255;
    --hottheme-color-white: 255,255,255;
    --hottheme-color-dark: 31,31,31;	
}

body {
    font-family: Arial, Helvetica, sans-serif;
}